# RewriteCond teststring condpattern [flags]

## conditons
### special case
# if teststring is  expr  condpattern treated as ap_expr  https://httpd.apache.org/docs/2.4/expr.html
### negate !some_condition
### cmparison
# <CondPattern leixcal proceed
# >CondPattern leixcal follow
# =CondPattern lexical equal  if CondPattern is "" compares to empty string
# <=CondPattern lexical preceed or equal
# >=CondPattern lexical follow or equal
# -eq numeric =
# -ge numeric >=
# -gt numeric >
# -le numeric <=
# -lt numeric <
# -ne numeric !=  equivalent to !-eq
### tests
# -d  is directory
# -f  is regular file
# -F  is existing file via subrequest
# -h  is symlink
# -l  is symlink
# -L  is symlink
# -s  is regular file with size > 0
# -U  is existing accessible URL via subrequest
# -x  is executable

## flags - in [] and comma separated
# nocase  NC  make test case insensitive
# ornext  OR  or-combine with next condition, otherwise it's and-combine
# novary  NV  if HTTP header is in condition, don't add it to the Vary header of response

## variables
### environment variables  %{ ENV:variable_name }
### HTTP mime header %{ HTTP:header_name } e.g. Proxy-Connection
### server variables  %{ VARIABLE_NAME }
# HTTP headers:
#  HTTP_ACCEPT
#  HTTP_COOKIE
#  HTTP_FORWARDED
#  HTTP_HOST
#  HTTP_PROXY_CONNECTION
#  HTTP_REFERER
#  HTTP_USER_AGENT
# connection & request:
#  AUTH_TYPE
#  CONN_REMOTE_ADDR
#  CONTEXT_PREFIX
#  CONTEXT_DOCUMENT_ROOT
#  IPV6
#  PATH_INFO
#  QUERY_STRING
#  REMOTE_ADDR
#  REMOTE_HOST
#  REMOTE_IDENT
#  REMOTE_PORT
#  REMOTE_USER
#  REQUEST_METHOD
#  SCRIPT_FILENAME
#### date/time
#  TIME_YEAR
#  TIME_MON
#  TIME_DAY
#  TIME_HOUR
#  TIME_MIN
#  TIME_SEC
#  TIME_WDAY
#  TIME
#### special
#  API_VERSION
#  CONN_REMOTE_ADDR
#  HTTPS "on" or "off"
#  IS_SUBREQ
#  REMOTE_ADDR IP of remote
#  REQUEST_FILENAME  full local filesystem path to the file matching the request
#  REQUEST_SCHEME  scheme, eg "http" or "https"
#  REQUEST_URI path component of requested URI, eg "/index.html", excluding query string
#  THE_REQUEST


# RewriteRule pattern substitution [flags]

## substitutions
# file_system_path
# url_path
# absolute_path
# - no substitution
# $N  N=0..9, backreference to RewriteRule pattern, eg ^localpath(.*) otherpath$1
# %N  N=0..9, backreference to last matched RewriteCond pattern
# %{VARNAME}  server variable
# ${mapname:key|default}  mapping function  https://httpd.apache.org/docs/2.4/mod/mod_rewrite.html#mapfunc

## flags
# B escape nonalpha in ackreference before applying
# backrefnoplus|BNP if escaping backreference, space goes to %20 not +
# chain|C if this rule fails, skip next rule
# cookie|CO=NAME:VAL  set cookie  CO=NAME:VAL:domain[:lifetime[:path[:secure[:httponly[samesite]]]]]
# discardpath|DP  discard PATH_INFO part of rewritten URI
# END don't apply any more rules in current round, same as L, but also prevents subsequent rewrite processing
# env|E=[!]VAR[:VAL]  set environment variable VAR to VAL, or if !VAR, unset variable
# forbidden|F 403 forbidden
# gone|G 410 gone
# Handler|H=Content-handler send to a content handler
# last|L don't apply any mre rules
# next|N rerun rewrite at first rule using current result as start point
# nocase|NC  pattern comparison case insensitive
# noescape|NE  don't hexcode escape special chars in redirections
# nosubreq|NS  skip this rule if within an internal subrequest
# proxy|P make substitution URL be sent internally as a proxy request
# passthrough|PT  pass result back to URL mapping for processing other URI-to-filename translators, eg Alias or Redirect
# qsappend|QSA append query string from original request URL to query string created in rewrite target
# qsdiscard\QSD discard incoming query string
# qslast|QSL interpret last (right-most) ? as query string delimiter instead of first (left-most) one
# redirect|R[=code] exteral redirect with optional HTTP status code
# skip|S=num  skip next num rules if this matches
# type|T=MIME-type  set MIME-type of target as specified

## HTTP status codes  https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
# 200 OK
# 204 no content but yes headers
# 205 reset document that sent this
# 300 multiple possible responses; eg give HTML links to options
# 301 moved permanently
# 302 found - changed temporarily, use this URI in future
# 303 see other
# 304 not modified (caching)
# 307 temporary redirect - same as 302 but must keep HTTP method (get/put/post/etc)
# 308 permanent redirect - same as 301 but must keep HTTP method (get/put/post/etc)
# 400 bad request - client error
# 401 unauthorized - eg server doesn't know client ID
# 402 payment required
# F 403 forbidden - like 401 but server does know client ID
# 404 not found (or secret 403)
# 405 method not allowed (but URI is ok)
# 406 content negotiation criteria not acceptable
# 407 proxy auth req'd - like 401 but for proxies
# 408 request timeout
# 409 conflict with current state of server
# G 410 gone - permanently deleted, clear cache
# 418 server is teapot and refuses to brew coffee
# 421 misdirected request - should've been sent to a different server
# 425 too early - might be replay / DOS attack
# 426 portocol upgrade required https://developer.mozilla.org/en-US/docs/Web/HTTP/Protocol_upgrade_mechanism
# 429 too many requests - rate limiting / DOS
# 451 unavailable for legal reasons
# 500 server error
# 501 not implemented
# 503 service unavailable - eg down for maintenance; should add Retry-After header
# 505 HTTP version not supported
# 508 infinite loop detected

# main
## / = index.shtml = embedded gdoc; leave it alone
RewriteRule ^(gdoc|doc)/?$ https://docs.google.com/document/d/1Ndb-xx2YaZhJWnKfLdnpa-hnhOGUdbm0vhY1JOeG3IQ/edit [L,R=302,NC]

# talks
RewriteRule ^lcc1/?$ https://www.youtube.com/watch?v=LBha8bJfRvw&list=PL17178436AFEC245A&index=5 [L,R=302,NC]
RewriteRule ^(lcc3|schuyler)(/video)?/?$ https://www.youtube.com/watch?v=Poe-HXKitw4&list=PLB1936739D3838148 [L,R=302,NC]
RewriteRule ^(lcc3|schuyler)/slides/?$ https://web.archive.org/web/20181125150527/http://ouwi.org:80/presentation/html/nl2dws.html [L,R=302,NC]
RewriteRule ^lcc7/?$ https://www.youtube.com/watch?v=MYqgocVZINA&list=PLfijmJ80EzetjLLUaQDsaufc6yAnkFOq3 [L,R=302,NC]
RewriteRule ^lcc7/outline/?$ https://docs.google.com/document/d/1O0bcivQHfBNDrT0xqhUqjwoAwVFh__taCOn1Mq8t4nA/edit [L,R=302,NC]

# texts
## poetry
RewriteRule ^(poetry/)?(st_)?francis/?$ /poetry/st_francis [L,R=302,NC]
RewriteRule ^(poetry/)?(st_)?francis/(key|writeup)(/|\.png)?$ /nlws/francis_explanation.png [L,R=302,NC]
RewriteRule ^(poetry/)?(st_)?francis/sketch/?$ https://docs.google.com/drawings/d/1XIAQ8Ry5cTS129lCTSmlJ2kHpLlWpMKSBT6S8kIkAPY/edit [L,R=302,NC]
RewriteRule ^(poetry/)?(distant_)love/?$ http://s.ai/poetry/distant_love [L,R=302,NC]
RewriteRule ^(poetry/)?g4g/?$ https://drive.google.com/file/d/1ky9EEZCMkFSRzDwjTfKBfSEeyH7hzD_i/view [L,R=302,NC]

## relays
# parts: torch (default), grammar, key (writeup), video
RewriteRule ^(relay/?)?lcc5(/torch)?(/|\.pdf)?$ http://conlang.org/cms/wp-content/uploads/lexis_and_text.pdf [L,R=302,NC]
RewriteRule ^(relay/?)?lcc5/grammar(/|\.pdf)?$ http://conlang.org/cms/wp-content/uploads/grammar.pdf [L,R=302,NC]
RewriteRule ^(relay/?)?lcc5/(key|writeup)/?$ http://conlang.org/language-creation-conference/lcc5/10-unlws/ [L,R=302,NC]
RewriteRule ^(relay/?)?lcc5/video/?$ https://www.youtube.com/watch?v=3f9V3NVQJoc&list=PLOSXnL88bvWsA4Q5FuVR4-_WYZ3279pwv&index=20 [L,R=302,NC]
RewriteRule ^(relay/?)?19(/torch)?(/|\.pdf)?$ https://000024.org/conlang/relay19/torch.pdf [L,R=302,NC]
RewriteRule ^(relay/?)?19(/torch)?\.png$ https://000024.org/conlang/relay19/torch.png [L,R=302,NC]
RewriteRule ^(relay/?)?19/grammar(/|\.pdf)?$ https://000024.org/conlang/relay19/grammar.pdf [L,R=302,NC]
RewriteRule ^(relay/?)?19/(key|writeup)/?$ https://000024.org/conlang/relay19/index.html [L,R=302,NC]
RewriteRule ^(relay/?)?19(/torch)?/colou?r(ed)?(\.png)?$ https://000024.org/conlang/relay19/torch_coloured.png [L,R=302,NC]
RewriteRule ^(relay/?)?19(/torch)?/(regions?|number(ed)?)(\.png)?$ https://000024.org/conlang/relay19/torch_numbered.png [L,R=302,NC]
RewriteRule ^(relay/?)?lcc10(/torch)?(/|\.pdf)?$ https://kechpaja.conlang.org/lcc/10/relay/i/fink_sai_unlws.pdf [L,R=302,NC]
RewriteRule ^(relay/?)?lcc10/(key|writeup)(/|\.pdf)?$ https://kechpaja.conlang.org/lcc/10/relay/i/fink_sai_unlws_english.pdf [L,R=302,NC]
RewriteRule ^(relay/?)?lcc10/video/?$ https://www.youtube.com/watch?v=Cp4-Mmj7-RU&t=10582&list=PLOSXnL88bvWv5AAOWy43J7Jy-Sh7gSF5B&index=3  [L,R=302,NC]

# documentation
RewriteRule ^git(hub)?/?$ https://github.com/saizai/unlws [L,R=302,NC]
RewriteRule ^(sketchbook|scratchpad|scan)s?/?$ https://drive.google.com/drive/folders/1Poz0DIQYm7d9ZJQviN3yKzat00HC9xTq [L,R=302,NC]
RewriteRule ^scratchpad/1/?$ https://docs.google.com/drawings/d/1k1qaEHNRSGNsH0pJvvGtPe6ZSHFUmlpnwyZbcjIK7uQ/edit [L,R=302,NC]
RewriteRule ^scratchpad/2/?$ https://docs.google.com/drawings/d/1Q5GqpwrpfsUXOU-l9hdRkTDFx3Zc9BTgrUiu5tsczmI/edit [L,R=302,NC]
## note that there exists renderer/ - don't overwrite that path
RewriteRule ^design/renderer/?$ https://docs.google.com/document/d/1iQS-oAaCk2mpT2h6nLK8AAvYH84n4_aHvZT7dDo_MeY/edit [L,R=302,NC]
RewriteRule ^design/dsl/?$ https://docs.google.com/document/d/1BfuloI902lfpVOC6UFhrx3pO-WYRaoGCd8IhUxrhCfA/edit [L,R=302,NC]
RewriteRule ^(essays/)?(design/)?odil/?$ https://s.ai/essays/on_the_design_of_an_ideal_language [L,R=302,NC]
RewriteRule ^(essays/)?(design/)?nlf2dws/?$ https://s.ai/essays/nlf2dws [L,R=302,NC]

# community
RewriteRule ^d(iscord)?/?$ https://discord.gg/t9dGhpk7Jh [L,R=302,NC]
RewriteRule ^slack/?$ https://unlws.slack.com/ [L,R=302,NC]
RewriteRule ^slack/invite/?$ https://join.slack.com/t/unlws/shared_invite/zt-fnkw2tc6-bx~QPQcUBJyRbSMWnwgoMg [L,R=302,NC]

RewriteRule ^c(ommunity)?/?$ https://drive.google.com/drive/folders/17osHvypK-DHYB8uvdjXfP7YS21xShl-T [L,R=302,NC]
RewriteRule ^c(ommunity)?/g?doc/?$ https://docs.google.com/document/d/1jY9hS1rMZC5NQB07jLVQdMn9IlCSYbQwLInW0SnuxeI/edit [L,R=302,NC]
RewriteRule ^c(ommunity)?/examples/?$ https://docs.google.com/document/d/11zZ6CwxSX4NARl3jY8lJ6cjlF15w1b2YzXYITNHjons/edit [L,R=302,NC]
RewriteRule ^c(ommunity)?/proposals/?$ https://docs.google.com/document/d/1kwF3hZTsih_mz3e1_n6yBXuO9pdieF6W5X-_0K1Ty4Y/edit [L,R=301,NC]
RewriteRule ^(c(ommunity)?/)?glyphs/?$ https://drive.google.com/drive/folders/1YSCtFokOfYfkFzHGGGJbDp_702aa7Spn [L,R=302,NC]

## UNLWS root folder. Requires gdrive access via group.
RewriteRule ^full/?$ https://drive.google.com/drive/folders/0BzmetJxi-p0VSU9wWXcwMFRyeUk [L,R=302,NC]
RewriteRule ^(g(oogle)?)?g(roup)?/?$ https://groups.google.com/g/unlws [L,R=302,NC]

RewriteRule ^UB0?1$ https://drive.google.com/file/d/1GDYn3njelh5-MacruV-mfgwqFr5RUnm-/view [L,R=302,NC]
RewriteRule ^UB0?2$ https://drive.google.com/file/d/1GBJfLKvjO7c-1CslcJq2l0UxHPGCFZ4e/view [L,R=302,NC]
RewriteRule ^UB0?3$ https://drive.google.com/file/d/1G0XS4uH7GoTVzi3ps_dZ5QMdjJt8Oeqr/view [L,R=302,NC]
RewriteRule ^UB0?4$ https://drive.google.com/file/d/1Fvu3uu1f409HXhbVT-tvwBDDvUm89nnD/view [L,R=302,NC]
RewriteRule ^UB0?5$ https://drive.google.com/file/d/1FtprzZCCQozYKpNgwh4yHhU4zgoKzYS7/view [L,R=302,NC]
RewriteRule ^UB0?6$ https://drive.google.com/file/d/1FsqC2wtpV9XjcxRv-muMR8jWQM7rAMuP/view [L,R=302,NC]
RewriteRule ^UB0?7$ https://drive.google.com/file/d/1FsJVoG1svlooGiAEwK8gWENt5PF1OllV/view [L,R=302,NC]
RewriteRule ^UB0?8$ https://drive.google.com/file/d/1FoSld9z_JTWd1KRsTEkzq4uDz-yhb-A6/view [L,R=302,NC]
RewriteRule ^UB0?9$ https://drive.google.com/file/d/1FmoaOh905L3wd8AQJpZh6xJzNSqLhN2x/view [L,R=302,NC]
RewriteRule ^UB10$ https://drive.google.com/file/d/1Fhqj94loAyBwHdSl2w4dmaZfdWl_LtbA/view [L,R=302,NC]
RewriteRule ^UB11$ https://drive.google.com/file/d/1Fhi0Um9G_MFeMRrydyGmnV7BUCGX2qiY/view [L,R=302,NC]
RewriteRule ^UB12$ https://drive.google.com/file/d/1FeM7kDxFKfcYC8AOtd3Dmj0N4z9ST7pd/view [L,R=302,NC]
RewriteRule ^UB13$ https://drive.google.com/file/d/1FW95CAxjJk3ssaiggfA33PpkkOJIvK8L/view [L,R=302,NC]
RewriteRule ^UB14$ https://drive.google.com/file/d/1FLqElIbzSMhEw0NMB4JFvK7GdBHtLsNA/view [L,R=302,NC]
RewriteRule ^UB15$ https://drive.google.com/file/d/1FLmycFwan3pzFTXWiUJRBWa-aZ0A8z02/view [L,R=302,NC]
RewriteRule ^UB16$ https://drive.google.com/file/d/1FEaT1hShemnQbM1CoOLSxTOsHMmqHcAN/view [L,R=302,NC]
RewriteRule ^UB17$ https://drive.google.com/file/d/1F97qlKxCmoluO02NCHwXtF7tzFVj34Jd/view [L,R=302,NC]
RewriteRule ^UB18$ https://drive.google.com/file/d/1F6oVygNAuJBvWTJm2tv5DZOdIjciuutl/view [L,R=302,NC]
RewriteRule ^UB19$ https://drive.google.com/file/d/1F4XQs-Z9puXkoKZOm6lKvhz8gS2QMqJE/view [L,R=302,NC]
RewriteRule ^UB20$ https://drive.google.com/file/d/1F0x6LCYXZnw6l7dZxM0eBMMrp_VsFE0Q/view [L,R=302,NC]
RewriteRule ^UB21$ https://drive.google.com/file/d/1Ey-rDQvqPHHt7sMnfICmQBZAAcYbxLY5/view [L,R=302,NC]
RewriteRule ^UB22$ https://drive.google.com/file/d/1Ev71J1TzL8_gLvOxNY0Ko7LSddauU_rq/view [L,R=302,NC]
RewriteRule ^UB23$ https://drive.google.com/file/d/1ElYympz13_55CMT8mMagJnMrUByKzuVH/view [L,R=302,NC]
RewriteRule ^UB24$ https://drive.google.com/file/d/1EknycuAcMgUSRB47t2liYxCOKR6Min-w/view [L,R=302,NC]
RewriteRule ^UB25$ https://drive.google.com/file/d/1Ej6Eej6YY0ooifzHp8kjC_TV0icxqYCE/view [L,R=302,NC]
RewriteRule ^UB26$ https://drive.google.com/file/d/1EhLsxmrV64huZkeU9WP41AA_1xtFvgwr/view [L,R=302,NC]
RewriteRule ^UB27$ https://drive.google.com/file/d/1ELzIaoPg56DqTbB7_44qv9g1HHe4lH2X/view [L,R=302,NC]
RewriteRule ^UB28$ https://drive.google.com/file/d/1EKIQYDWFvnFMGGhCrDn6lRiYY4AtWDxD/view [L,R=302,NC]
RewriteRule ^UB29$ https://drive.google.com/file/d/1EJW0oawkdLVDKrVtS7Vr4hYiAdrtiQIf/view [L,R=302,NC]
RewriteRule ^UB30$ https://drive.google.com/file/d/1DwpSs8LyU9oUfrSlUPKYYGJRtSFM51b5/view [L,R=302,NC]
RewriteRule ^UB31$ https://drive.google.com/file/d/1DwGxmH4Il2VtwNAXXET2Rt7nPMdKsS9Y/view [L,R=302,NC]
RewriteRule ^UB32$ https://drive.google.com/file/d/1Dq5JSf-SF-9LclfghmFU7WWjqprNVAu5/view [L,R=302,NC]
RewriteRule ^UB33$ https://drive.google.com/file/d/1DczpEkVGowCOSDQcgrtyaNH5kqNZMuMp/view [L,R=302,NC]
RewriteRule ^UB34$ https://drive.google.com/file/d/1DbHrCFDg7VZ7EDLnpF0uvf1ADPExQFfc/view [L,R=302,NC]
RewriteRule ^UB35$ https://drive.google.com/file/d/1DVt9bkECUh5BRNn_fWBwn-sUjrW8ahZv/view [L,R=302,NC]
RewriteRule ^UB36$ https://drive.google.com/file/d/1DVJ9ykm8qiZCOruxshxIn7zUfX8X08fH/view [L,R=302,NC]
RewriteRule ^UB37$ https://drive.google.com/file/d/1DSgmzrpfAwq9tOPfcg5ITPFSQ9GoWf3J/view [L,R=302,NC]
RewriteRule ^UB38$ https://drive.google.com/file/d/1DQVRJHRyaPWWARgtLo0JGxWHNexKp1iI/view [L,R=302,NC]
RewriteRule ^UB39$ https://drive.google.com/file/d/1DMFED7aWhb5yHCdA8x_jpz3h5Qg5wKgN/view [L,R=302,NC]
RewriteRule ^UB40$ https://drive.google.com/file/d/1DJdTys8gzZygwNq4BEINDppE-QutB3nz/view [L,R=302,NC]
RewriteRule ^UB41$ https://drive.google.com/file/d/1D5x388WcxIERHD2tKF-MDQMmiA1Y1zIf/view [L,R=302,NC]
RewriteRule ^UB42$ https://drive.google.com/file/d/1D5wn_IerQcek4p_7srMVhDCu50J3-5xq/view [L,R=302,NC]
RewriteRule ^UB43$ https://drive.google.com/file/d/1D4xCwunVXFOGoYdNGfRnQmEnxrmgZbFq/view [L,R=302,NC]
RewriteRule ^UB44$ https://drive.google.com/file/d/1D3l_opDcQGpB5d5rDg6c42KClFa1yqNq/view [L,R=302,NC]
RewriteRule ^UB45$ https://drive.google.com/file/d/1D0_sSWulOHDsbL5sUscztUEjL3ozMpGq/view [L,R=302,NC]
RewriteRule ^UB46$ https://drive.google.com/file/d/1D0MzZHDeNsGrVQ5mgPTC99IXMuejN4qo/view [L,R=302,NC]
RewriteRule ^UB47$ https://drive.google.com/file/d/1CxPqb1NfOV_SeT7r9m9mwxaIZp0U3_nj/view [L,R=302,NC]
