# RewriteCond teststring condpattern [flags]

## conditons
### special case
# if teststring is  expr  condpattern treated as ap_expr  https://httpd.apache.org/docs/2.4/expr.html
### negate !some_condition
### cmparison
# <CondPattern leixcal proceed
# >CondPattern leixcal follow
# =CondPattern lexical equal  if CondPattern is "" compares to empty string
# <=CondPattern lexical preceed or equal
# >=CondPattern lexical follow or equal
# -eq numeric =
# -ge numeric >=
# -gt numeric >
# -le numeric <=
# -lt numeric <
# -ne numeric !=  equivalent to !-eq
### tests
# -d  is directory
# -f  is regular file
# -F  is existing file via subrequest
# -h  is symlink
# -l  is symlink
# -L  is symlink
# -s  is regular file with size > 0
# -U  is existing accessible URL via subrequest
# -x  is executable

## flags - in [] and comma separated
# nocase  NC  make test case insensitive
# ornext  OR  or-combine with next condition, otherwise it's and-combine
# novary  NV  if HTTP header is in condition, don't add it to the Vary header of response

## variables
### environment variables  %{ ENV:variable_name }
### HTTP mime header %{ HTTP:header_name } e.g. Proxy-Connection
### server variables  %{ VARIABLE_NAME }
# HTTP headers:
#  HTTP_ACCEPT
#  HTTP_COOKIE
#  HTTP_FORWARDED
#  HTTP_HOST
#  HTTP_PROXY_CONNECTION
#  HTTP_REFERER
#  HTTP_USER_AGENT
# connection & request:
#  AUTH_TYPE
#  CONN_REMOTE_ADDR
#  CONTEXT_PREFIX
#  CONTEXT_DOCUMENT_ROOT
#  IPV6
#  PATH_INFO
#  QUERY_STRING
#  REMOTE_ADDR
#  REMOTE_HOST
#  REMOTE_IDENT
#  REMOTE_PORT
#  REMOTE_USER
#  REQUEST_METHOD
#  SCRIPT_FILENAME
#### date/time
#  TIME_YEAR
#  TIME_MON
#  TIME_DAY
#  TIME_HOUR
#  TIME_MIN
#  TIME_SEC
#  TIME_WDAY
#  TIME
#### special
#  API_VERSION
#  CONN_REMOTE_ADDR
#  HTTPS "on" or "off"
#  IS_SUBREQ
#  REMOTE_ADDR IP of remote
#  REQUEST_FILENAME  full local filesystem path to the file matching the request
#  REQUEST_SCHEME  scheme, eg "http" or "https"
#  REQUEST_URI path component of requested URI, eg "/index.html", excluding query string
#  THE_REQUEST


# RewriteRule pattern substitution [flags]

## substitutions
# file_system_path
# url_path
# absolute_path
# - no substitution
# $N  N=0..9, backreference to RewriteRule pattern, eg ^localpath(.*) otherpath$1
# %N  N=0..9, backreference to last matched RewriteCond pattern
# %{VARNAME}  server variable
# ${mapname:key|default}  mapping function  https://httpd.apache.org/docs/2.4/mod/mod_rewrite.html#mapfunc

## flags
# B escape nonalpha in ackreference before applying
# backrefnoplus|BNP if escaping backreference, space goes to %20 not +
# chain|C if this rule fails, skip next rule
# cookie|CO=NAME:VAL  set cookie  CO=NAME:VAL:domain[:lifetime[:path[:secure[:httponly[samesite]]]]]
# discardpath|DP  discard PATH_INFO part of rewritten URI
# END don't apply any more rules in current round, same as L, but also prevents subsequent rewrite processing
# env|E=[!]VAR[:VAL]  set environment variable VAR to VAL, or if !VAR, unset variable
# forbidden|F 403 forbidden
# gone|G 410 gone
# Handler|H=Content-handler send to a content handler
# last|L don't apply any mre rules
# next|N rerun rewrite at first rule using current result as start point
# nocase|NC  pattern comparison case insensitive
# noescape|NE  don't hexcode escape special chars in redirections
# nosubreq|NS  skip this rule if within an internal subrequest
# proxy|P make substitution URL be sent internally as a proxy request
# passthrough|PT  pass result back to URL mapping for processing other URI-to-filename translators, eg Alias or Redirect
# qsappend|QSA append query string from original request URL to query string created in rewrite target
# qsdiscard\QSD discard incoming query string
# qslast|QSL interpret last (right-most) ? as query string delimiter instead of first (left-most) one
# redirect|R[=code] exteral redirect with optional HTTP status code
# skip|S=num  skip next num rules if this matches
# type|T=MIME-type  set MIME-type of target as specified

## HTTP status codes  https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
# 200 OK
# 204 no content but yes headers
# 205 reset document that sent this
# 300 multiple possible responses; eg give HTML links to options
# 301 moved permanently
# 302 found - changed temporarily, use this URI in future
# 303 see other
# 304 not modified (caching)
# 307 temporary redirect - same as 302 but must keep HTTP method (get/put/post/etc)
# 308 permanent redirect - same as 301 but must keep HTTP method (get/put/post/etc)
# 400 bad request - client error
# 401 unauthorized - eg server doesn't know client ID
# 402 payment required
# F 403 forbidden - like 401 but server does know client ID
# 404 not found (or secret 403)
# 405 method not allowed (but URI is ok)
# 406 content negotiation criteria not acceptable
# 407 proxy auth req'd - like 401 but for proxies
# 408 request timeout
# 409 conflict with current state of server
# G 410 gone - permanently deleted, clear cache
# 418 server is teapot and refuses to brew coffee
# 421 misdirected request - should've been sent to a different server
# 425 too early - might be replay / DOS attack
# 426 portocol upgrade required https://developer.mozilla.org/en-US/docs/Web/HTTP/Protocol_upgrade_mechanism
# 429 too many requests - rate limiting / DOS
# 451 unavailable for legal reasons
# 500 server error
# 501 not implemented
# 503 service unavailable - eg down for maintenance; should add Retry-After header
# 505 HTTP version not supported
# 508 infinite loop detected

# main
## / = index.shtml = embedded gdoc; leave it alone
RewriteRule ^(gdoc|doc)/?$ https://docs.google.com/document/d/1Ndb-xx2YaZhJWnKfLdnpa-hnhOGUdbm0vhY1JOeG3IQ/edit [L,R=302,NC]

# talks
RewriteRule ^lcc1/?$ https://youtu.be/LBha8bJfRvw [L,R=302,NC]
RewriteRule ^(lcc3|schuyler)/?$ http://ouwi.org/presentation/html/nl2dws.html [L,R=302,NC]
RewriteRule ^(lcc3|schuyler)/video/?$ https://www.youtube.com/watch?v=Poe-HXKitw4&list=PLB1936739D3838148 [L,R=302,NC]
RewriteRule ^lcc7/?$ https://youtube.com/playlist?list=PLfijmJ80EzetjLLUaQDsaufc6yAnkFOq3 [L,R=302,NC]
RewriteRule ^lcc7/outline/?$ https://docs.google.com/document/d/1O0bcivQHfBNDrT0xqhUqjwoAwVFh__taCOn1Mq8t4nA/edit [L,R=302,NC]

# texts
## poetry
RewriteRule ^(poetry/)?(st_)?francis/?$ /poetry/st_francis [L,R=302,NC]
RewriteRule ^(poetry/)?(st_)?francis/(key|writeup)(/|\.png)?$ /nlws/francis_explanation.png [L,R=302,NC]
RewriteRule ^(poetry/)?(distant_)love/?$ http://s.ai/poetry/distant_love [L,R=302,NC]
RewriteRule ^(poetry/)?g4g/?$ https://drive.google.com/file/d/1ky9EEZCMkFSRzDwjTfKBfSEeyH7hzD_i/view [L,R=302,NC]

## relays
# parts: torch (default), grammar, key (writeup), video
RewriteRule ^(relay/?)?lcc5(/torch)?(/|\.pdf)?$ http://conlang.org/cms/wp-content/uploads/lexis_and_text.pdf [L,R=302,NC]
RewriteRule ^(relay/?)?lcc5/grammar(/|\.pdf)?$ http://conlang.org/cms/wp-content/uploads/grammar.pdf [L,R=302,NC]
RewriteRule ^(relay/?)?lcc5/(key|writeup)/?$ http://conlang.org/language-creation-conference/lcc5/10-unlws/ [L,R=302,NC]
RewriteRule ^(relay/?)?lcc5/video/?$ https://youtube.com/playlist?list%3DPLOSXnL88bvWsA4Q5FuVR4-_WYZ3279pwv [L,R=302,NC]
RewriteRule ^(relay/?)?19(/torch)?(/|\.pdf)?$ https://000024.org/conlang/relay19/torch.pdf [L,R=302,NC]
RewriteRule ^(relay/?)?19(/torch)?\.png$ https://000024.org/conlang/relay19/torch.png [L,R=302,NC]
RewriteRule ^(relay/?)?19/grammar(/|\.pdf)?$ https://000024.org/conlang/relay19/grammar.pdf [L,R=302,NC]
RewriteRule ^(relay/?)?19/(key|writeup)/?$ https://000024.org/conlang/relay19/index.html [L,R=302,NC]
RewriteRule ^(relay/?)?19(/torch)?/colou?r(ed)?(\.png)?$ https://000024.org/conlang/relay19/torch_coloured.png [L,R=302,NC]
RewriteRule ^(relay/?)?19(/torch)?/(regions?|number(ed)?)(\.png)?$ https://000024.org/conlang/relay19/torch_numbered.png [L,R=302,NC]
RewriteRule ^(relay/?)?lcc10(/torch)?(/|\.pdf)?$ https://kechpaja.conlang.org/lcc/10/relay/i/fink_sai_unlws.pdf [L,R=302,NC]
RewriteRule ^(relay/?)?lcc10/(key|writeup)(/|\.pdf)?$ https://kechpaja.conlang.org/lcc/10/relay/i/fink_sai_unlws_english.pdf [L,R=302,NC]

# documentation
RewriteRule ^git(hub)?/?$ https://github.com/saizai/unlws [L,R=302,NC]
RewriteRule ^sketchbook/?$ httphttps://drive.google.com/folderview?id%3D19XY8V7wFicizkSxlV8PkDUNdbCC6uIUX [L,R=302,NC]
RewriteRule ^scratchpad/1/?$ https://docs.google.com/drawings/d/1k1qaEHNRSGNsH0pJvvGtPe6ZSHFUmlpnwyZbcjIK7uQ/edit [L,R=302,NC]
RewriteRule ^scratchpad/2/?$ https://docs.google.com/drawings/d/1Q5GqpwrpfsUXOU-l9hdRkTDFx3Zc9BTgrUiu5tsczmI/edit [L,R=302,NC]
## note that there exists renderer/ - don't overwrite that path
RewriteRule ^design/renderer/?$ https://docs.google.com/document/d/1iQS-oAaCk2mpT2h6nLK8AAvYH84n4_aHvZT7dDo_MeY/edit [L,R=302,NC]
RewriteRule ^design/dsl/?$ https://docs.google.com/document/d/1BfuloI902lfpVOC6UFhrx3pO-WYRaoGCd8IhUxrhCfA/edit [L,R=302,NC]
RewriteRule ^(essays/?)(design/?)odil/?$ https://s.ai/essays/on_the_design_of_an_ideal_language [L,R=302,NC]
RewriteRule ^(essays/?)(design/?)nlf2dws/?$ https://s.ai/essays/nlf2dws [L,R=302,NC]

# community
RewriteRule ^d(iscord)?/?$ https://discord.gg/t9dGhpk7Jh [L,R=302,NC]
RewriteRule ^slack/?$ https://unlws.slack.com/ [L,R=302,NC]
RewriteRule ^slack/invite/?$ https://join.slack.com/t/unlws/shared_invite/zt-fnkw2tc6-bx~QPQcUBJyRbSMWnwgoMg [L,R=302,NC]

RewriteRule ^c(ommunity)?/?$ https://drive.google.com/drive/folders/17osHvypK-DHYB8uvdjXfP7YS21xShl-T [L,R=302,NC]
RewriteRule ^c(ommunity)?/g?doc/?$ https://docs.google.com/document/d/1jY9hS1rMZC5NQB07jLVQdMn9IlCSYbQwLInW0SnuxeI/edit?usp=drivesdk [L,R=302,NC]
RewriteRule ^c(ommunity)?/examples/?$ https://docs.google.com/document/d/11zZ6CwxSX4NARl3jY8lJ6cjlF15w1b2YzXYITNHjons/edit?usp=drivesdk [L,R=302,NC]
RewriteRule ^c(ommunity)?/proposals/?$ https://docs.google.com/document/d/1kwF3hZTsih_mz3e1_n6yBXuO9pdieF6W5X-_0K1Ty4Y/edit?usp=drivesdk [L,R=302,NC]
